:root {
    --primary-color: #3f3f3f;
    --secondary-color: #a3a3a3;
    --light-color: #fff;
}
.add {
    background-color: var(--primary-color) !important;
    color: var(--light-color) !important;
}
.form-select {
    background-color: #f8f9fc !important;
}
